###############################################################################
# LOGS
###############################################################################

*.log
logs/
log/


###############################################################################
# ENVIRONMENT VARIABLES
###############################################################################

.env
.env.*
!.env.example


###############################################################################
# DOCKER
###############################################################################

docker-compose.override.yml

# Arquivos gerados pelo Docker
*.pid


###############################################################################
# NGINX
###############################################################################

nginx.pid


###############################################################################
# EDITORES / IDEs
###############################################################################

.vscode/
.idea/

*.code-workspace


###############################################################################
# SISTEMA OPERACIONAL
###############################################################################

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~


###############################################################################
# ARQUIVOS TEMPORÁRIOS
###############################################################################

*.tmp
*.temp
*.bak
*.swp
*.swo


###############################################################################
# CACHE
###############################################################################

.cache/
.cache-loader/


###############################################################################
# PYTHON (caso utilize scripts futuramente)
###############################################################################

__pycache__/
*.py[cod]


###############################################################################
# NODE.JS (caso adicione frontend futuramente)
###############################################################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


###############################################################################
# TESTES
###############################################################################

coverage/
htmlcov/


###############################################################################
# COMPACTADOS
###############################################################################

*.zip
*.tar
*.tar.gz
*.rar
*.7z


###############################################################################
# CERTIFICADOS LOCAIS
###############################################################################

*.pem
*.crt
*.key


###############################################################################
# SEGREDOS
###############################################################################

secrets/